<div class="spinner-wrapper" *ngIf="showSpinner">
  <mat-spinner></mat-spinner>
</div>

<div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxFill>
    <button fxFill mat-flat-button (click)="showDialog(false)" id="add_button">Add New</button>
  </div>
  <div fxFlexFill class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="id"> {{element.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="IP">
        <mat-header-cell *matHeaderCellDef> IP</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="ip"> {{element.ip}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="HWID">
        <mat-header-cell *matHeaderCellDef> HWID</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="hwid"> {{element.hwid}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="KEY">
        <mat-header-cell *matHeaderCellDef> KEY</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="key"> {{element.key}} </mat-cell>
        >
      </ng-container>
      <ng-container matColumnDef="Created">
        <mat-header-cell *matHeaderCellDef> Created At</mat-header-cell>
        >
        <mat-cell *matCellDef="let element" data-label="created at"> {{element.createdAt | date: 'short'}} </mat-cell>
        >
      </ng-container>
      <ng-container matColumnDef="Modify">
        <mat-header-cell *matHeaderCellDef> Modify Date</mat-header-cell>
        >
        <mat-cell *matCellDef="let element"
                  data-label="modify date"> {{element.modifyDate  | date: 'short'}} </mat-cell>
        >
      </ng-container>
      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
        >
        <mat-cell *matCellDef="let element" data-label="status"> {{element.status}} </mat-cell>
        >
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      >
      <mat-row (click)="showDialog(true, row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   [length]="licenses.totalResults"
                   [pageSize]="licenses.resultsPerPage"
                   (page)="startEvent($event)"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>

