<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <span class="toolbar-spacer"></span>
    <span class="p-5">
      <button (click)="logout()" mat-raised-button id="logout_button">Logout</button>
    </span>
    <mat-icon class="verify-icon">verified_user</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="header">
  <div class="header-title">
    <h1>Game Server License Manager</h1>
  </div>
  <div class="header-image">
  </div>

</div>

<div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxFill>
    <app-license></app-license>
  </div>
</div>
